{% comment %}
  File: base.html
  Creator: MazeFX
  Date: 12-7-2016

  Master basic template for website.
  Defines the basic structure for the website in the following blocks:

  * meta       - For page specific meta-data
  * css        - For support in multiple page layouts
  * css-addin  - For page specific layout tweaks
  * header     - For supporting different Header builds
  * content    - For displaying the page content
  * javascript - For support in multiple javascript plugins
  * js-addin   - For page specific javascript
{% endcomment %}

{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}MazeFX Website{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    {% block meta %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

      <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400|Cabin' rel='stylesheet' type='text/css'>
      {% compress css %}
        <!-- This file store project specific CSS -->
        {% block css-addin %}{% endblock %}
      {% endcompress %}
    {% endblock %}

  </head>

  <body>
    {% block header %}
      {% include 'pages/main_header.html' %}
    {% endblock %}

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}
    </div> <!-- /container -->

    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

    {% block footer %}
      <p>Thanks for visiting my site.</p>
    {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <!-- place project specific Javascript in this file -->
      {% compress js %}
        {% block js-addin %}{% endblock %}
      {% endcompress %}
    {% endblock javascript %}
  </body>
</html>
