{# DOCS - Write some documentation and tags #}

{% extends "base.html" %}
{% load staticfiles sitetree %}

{% block title %}
  Coming Soon!
{% endblock %}

{% block meta %}

{% endblock %}

{% block css-addin %}
  <link rel="stylesheet" type="text/css" href={% static 'css/developers.css' %} />
{% endblock %}

{% block header %}
  <header id="header">
    <nav class="custom-navbar">
      <div class="navbar-inner collapse" id="exCollapsingNavbar">
        {% sitetree_menu from "menu-tree" include "trunk" template "pages/menu_bootstrap.html" %}
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </nav>

    <!-- particles.js container -->
    <div id="particles-js"></div>

    <div class="container">
      <div class="align-center text-center" id="header-title">
          <span id="header-title-begin">Coming</span><span id="header-title-end"> soon!</span>
      </div>
    </div>

  </header>
{% endblock %}

{% block content %}
  <div class="row spacer-row color-orange"></div>
  <div class="row main-row color-orange text-color-white">
    <div class="container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 text-center">
          <div class="row">
            <div class="col-xs-12">
            <h1>Coming soon!</h1>
            <h3>Op dit moment wordt er hard gewerkt om de website bij te werken.</h3>
            <h3>Wij hopen zo snel mogelijk de nieuwe content online te hebben.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-home-button">
              <a href="{% url 'home' %}"  class="home-link">
                <div class="align-center home-button" id="home-button">
                  <h2>Terug</h2>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
    {% include 'pages/developer_footer.html' %}
{% endblock %}

{% block js-addin %}
  <script type="text/javascript" src={% static 'js/jquery.min.js' %}></script>
  <script src={% static 'js/particles.js' %}></script>
  <script src={% static 'js/app.js' %}></script>
  <script type="text/javascript" src={% static 'js/recruiter.js' %}></script>
  <script type="text/javascript" src={% static 'js/main_footer.js' %}></script>
{% endblock %}
