{# GIFS - Clean up file #}
{# DOCS - Write some documentation and tags #}

{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Send Email
{% endblock %}

{% block meta %}

{% endblock %}

{% block css-addin %}
  <link rel="stylesheet" type="text/css" href={% static 'css/recruiter.css' %} />
{% endblock %}

{% block header %}
  <header class="navbar-inverse" id="recruiter-header">

    <div class="container">
      <div class="align-center text-center" id="header-title">
        <h1>Send Email</h1>
      </div>
    </div>

  </header>
{% endblock %}

{% block content %}
  <form method="POST">
    
      <input name="fullname" id="id_fullname" placeholder="Voer je naam in" />
      <input name="email" id="id_email" placeholder="Voer je email in" />
      <input name="subject" id="id_subject" placeholder="Enter a to-do item" />
      <input name="message" id="id_message" placeholder="Enter a to-do item" />
      
  </form>

{% endblock %}

{% block footer %}
    {% include 'pages/recruiter_footer.html' %}
{% endblock %}

{% block js-addin %}

{% endblock %}
