{# GIFS - Clean up file #}
{# DOCS - Write some documentation and tags #}

{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block title %}
  Send Email
{% endblock %}

{% block meta %}

{% endblock %}

{% block css-addin %}
  <link rel="stylesheet" type="text/css" href={% static 'css/recruiter.css' %} />
{% endblock %}

{% block header %}
  <header class="navbar-inverse" id="recruiter-header">

    <div class="container">
      <div class="align-center text-center" id="header-title">
        <h1>Send Email</h1>
      </div>
    </div>

  </header>
{% endblock %}

{% block content %}
  <div class="container">

    {% crispy form %}

  </div>
{% endblock %}

{% block footer %}
    {% include 'pages/recruiter_footer.html' %}
{% endblock %}

{% block js-addin %}

{% endblock %}
