{# DOCS - Write some documentation and tags #}

{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block title %}
  Verstuur Email
{% endblock %}

{% block meta %}

{% endblock %}

{% block css-addin %}
  <link rel="stylesheet" type="text/css" href={% static 'css/recruiter.css' %} />
{% endblock %}

{% block header %}
  <header class="navbar-inverse" id="recruiter-header">

    <!-- particles.js container -->
    <div id="particles-js"></div>

    <div class="container">
      <div class="align-center text-center" id="header-title">
          <span id="header-title-begin">Verstuur</span><span id="header-title-end"> Email</span>
      </div>
    </div>

  </header>
{% endblock %}

{% block content %}
  <div class="row main-row color-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 color-grngry contact-form-container">
          {% crispy form %}
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
    {% include 'pages/recruiter_footer.html' %}
{% endblock %}

{% block js-addin %}
  <script src={% static 'js/particles.js' %}></script>
  <script src={% static 'js/app.js' %}></script>
  <script type="text/javascript" src={% static 'js/recruiter_footer.js' %}></script>
{% endblock %}
