{# GIFS - Clean up file #}
{# DOCS - Write some documentation and tags #}

<!--
  File: recruiter_header.html
  Creator: MazeFX
  Date: 12-7-2016

  Header specific for recruiter page with custom layout

 -->

<header id="recruiter-header" class="navbar">
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <div class="container">
    <div id="header-title">
        <span id="header-title-begin">ID</span><span id="header-title-end">'s my future!</span>
    </div>
  </div>
</header>
